<a href="https://colab.research.google.com/github/pankajmahato907/Admin-Panel/blob/master/Workshop1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week 1**

**Task 1 :**

1. Write a function fib (n) that prompts the number of terms “n” from the user and displays first “n” terms of Fibonacci sequence iteratively.

In [ ]:
n=int(input("enter a number:"))
def fibo(n):
  a=0
  b=1
  print(a)
  for i in range (n-1):
    c=a+b
    a,b=c,a
    print(c)

fibo(n)

enter a number:10
0
1
1
2
3
5
8
13
21
34

2.	Write a function myPow(x, n) that returns xn
, where and n is a non- negative integer.
Do not use the * * operator or the math.pow function - use one while loop.

In [ ]:
def mypow(x,n):
  p = 1
  while(n>0):
    p = p * x
    n= n -1
  return p
print(mypow(3,4))

81

3.	Write a function SumDigits(n) that displays the sum of digits of “n”. Hint: SumDigits(234) will be 2+3+4=9

In [ ]:
def SumDigits(n):
  sum = 0
  while(n>0):
    rem = n % 10
    sum = sum + rem
    n = n//10
  return sum
print(SumDigits(234))

9

4.	Write a function squaredSum that returns the sum of the squares of an array/list of integers such that squaredSum([2,3,4]) gives 29. Write your solution in pure Python to show the logic in your solution, do not use any library functions.

In [ ]:
def squaredsum(p):
  results = 0
  for i in p:
    results = results + i**2
  return results
print (squaredsum([2,3,4]))

29

5.	Write a function called sumDigits that is given an integer num and returns the sum of the digits of number. Eg.
sumDigits(6) gives 21. Do not use any library functions (if there is one).

In [1]:
def sumDigits(n):
  sum_digit=0

  while n > 0:
    digit=n%10
    sum_digit += digit
    n=n//10
  return sum_digit
print(sumDigits(123))

6

**Examples are as follows:**

1	Variables:
In Python, Variable are just simple containers, that stores data value. Unlike other languages, such as Java, Python has no command for declaring a variable, so you create one the moment you first assign a value to it.

In [2]:
length = 10 #variable1
width = 5 #variable2
area = length * width #This is called an expression
print(area)

50

2	Type Conversion:
In programming, type conversion is the process of converting data of one type to another. For example: converting int data to str.

2.1)**Implicit** Conversion (Automatic type conversion)

In [3]:
print(7+8.5)
# 7 is int type & 8.5 is float type, but mixing these two programs run well.

15.5

Explicit Conversion (Manual type conversion)

In [5]:
base = 6
height = 2
area = base*height/2
print("Area is " + str(area))
#changed, int type, ’area’ to string

Area is 6.0

Exercise 1:
Write a program to prompt the user for hours and rate per hour using input( ) to compute gross pay. Pay the hourly rate for the hours up to 40 and 1.5 times the hourly rate for all hours worked above 40 hours. Use 45 hours and a rate of 10.50 per hour to test the program (the pay should be 498.75).

In [6]:
hrs = input("Enter Hours:")
h = float(hrs)
rate = input("Enter the rate per hour:")
r = float(rate) # complete the program
if h<=40:
  gross_pay=h*r
else:
  overtime_hours= h-40
  gross_pay =(40-r)+(overtime_hours*1.5*r)
  print(gross_pay)

Enter Hours:45
Enter the rate per hour:10.50
108.25

3	Function:

A function is a block of code that performs a specific task. We general create a function to divide a complex problem into smaller chunks, which makes our program easy to understand and reuse. There are two types of function in Python programming:
1.	Standard library functions - These are built-in functions in Python that are available to use.
2.	User-defined functions - We can create our own functions based on our requirements.
Example 4:

In [13]:
#passing parameters/argumets to the function
def greeting (name):
  print("Welcome "+ name)
greeting("Pankaj Kumar Mahato")

Welcome Pankaj Kumar Mahato

Example 5 :

In [10]:
## getting values out of the function(return values)
def area_traingle(b,h ):
  return b*h/2
area = area_traingle(4, 8)
print("area of traingle is: " + str(area))

area of traingle is: 16.0

**Exercise 2 :**

Example 6 :

Write a function that compares two numbers and returns them in increasing order.

In [8]:
def order_numbers(number1, number2):
  if number2 > number1:
    return  number1,number2
  else:
    return number2,number1
smaller,bigger = order_numbers(200,180)
print(smaller,bigger)

180 200

**4.Conditionals:**

Example-7
Even or Odd

In [22]:
def is_Even(number):
  if (number%2 == 0):
    return True
    return False
print(is_Even(7))

None

Example 8 :

In [27]:
def number_group(number):
  if number > 0: return "Positive"
  elif number == 0:
    return "Zero"
  else:
    return "Negative"
print(number_group(10)) #Should be Positive
print(number_group(0)) #Should be Zero
print(number_group(-5)) #Should be Negative

Positive
Zero
Negative

**5.Loops:**

**1. While Loop:**

Example 9 :

In [28]:
#while loop
x = 0 # initialzation of variable Why=?
while x<5:
  print("Not there yet, x= " + str(x))
  x = x+1
  print("x= "+str(x))

Not there yet, x= 0
x= 1
Not there yet, x= 1
x= 2
Not there yet, x= 2
x= 3
Not there yet, x= 3
x= 4
Not there yet, x= 4
x= 5

**Example 10 :**

In [30]:
def count_down(start_number):
  current=3 #initialzation of variable
  while (current > 0):
    print(current)
    current -= 1
    print("Zero!")
count_down(3)

3
Zero!
2
Zero!
1
Zero!

**Infinite Loop with While in Python:**

If the condition of a loop is always True, the loop runs for infinite times (until the memory is full).

**Example 11:**

In [33]:
x=10
while x%2 ==0:
  if x==0:
    break
  x=x/2
print(x)

5.0

**Example 12 :**

In [34]:
#solution of example 11
if x != 0:
  while x%2 == 0:
    x = x/2
print(x)
#or while x != 0 and x%2 == 0: x = x/2

5.0

**2. For Loop:**

In Python, a for loop is used to iterate over sequences such as lists, tuples, string, range() etc.

**Example 13 :**

In [37]:
# for loop, iterates
for x in range(5):
  print(x)

0
1
2
3
4

**Example 14 :**

In [38]:
def square(n):
  return n*n
def sum_squares(x):
  sum = 0
  for n in range(10):
    sum += square(n)
    return sum
print(sum_squares(10))
#Explain what does the program does?
#This is the result of calling the sum_squares() function with an input value of 10, which calculates the 0.

0

**Example 15 :**

In [41]:
values = [10, 20, 30, 40, 50]
Sum = 0
length = 0
for value in values:
  Sum = Sum+value
  length = length+1
print("Total sum= "+str(Sum)+ "and the Average="+str(Sum/length))

Total sum= 150and the Average=30.0

**6.Nested loop:**

Nested loops mean loops inside a loop. For example, while loop inside the for loop, for loop inside the for loop, etc.

**Example 16 :**

In [42]:
#nested for loops
for left in range(7):
  for right in range(left, 7):
    print("["+str(left)+"|"+str(right)+"]", end=" ")
print()
#what does the program does
#It generates all the possible pairs of numbers within specific range

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [2|2] [2|3] [2|4] [2|5] [2|6] [3|3] [3|4] [3|5] [3|6] [4|4] [4|5] [4|6] [5|5] [5|6] [6|6]